<table class="table table-bordered genre_search_table">
  <thead>
	<tr class="table-head">
	  <th class="genre_search_head bg-brown">アルコール検索</th>
	</tr>
  </thead>
  <tbody>
  	<%= form_with url: search_path, method: :get do |f| %>
	  	<% @genres.each do |genre| %>
	    	<tr>
      	  <td class="table-body">
						<%= link_to genre.name, search_path(genre_id: genre.id) ,method: :get, class:"genre_search_name" %>
	  	  	</td>
				</tr>
	  	<% end %>
		<% end %>
  </tbody>
</table>