<%= search_form_for @q, url: recipe_search_path do |f| %>
  <div class="genre-search-table-container">
    <table class="table table-borderless genre_search_table">
      <tr>
        <th class="genre_search_head"><i class="fa-solid fa-magnifying-glass"></i>ワード検索</th>
        <td><%= f.search_field :title_or_description_cont, class: 'form-control', placeholder: '例) 冷奴' %></td>
        <td><%= f.button class: 'btn btn-primary' do %>
          <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
<% end %>