<div class="container">
  <div class="row justify-content-start">
    <div class="col-9">
      <h2 class="bg-brown my-5 col-4">編集画面</h2>
      <%= render "form", recipe: @recipe %>
    </div>
  </div>
</div>