<% if @user.followed_by?(current_user) %>
  <td><%= link_to "フォローを外す", user_relationship_path(@user), method: :delete, remote: true, class: "btn btn-danger btn-sm" %></td>
<% else %>
  <td><%= link_to "フォローする", user_relationships_path(@user), method: :post, remote: true, class: "btn btn-primary btn-sm" %></td>
<% end %>