<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-5">About</h1>
      <h4 class="text-left my-3">
        おつまみ好きな仲間たちと一緒に、毎晩の晩酌をより楽しく、特別なものにするための場所。</br>
        このコミュニティサイトでは、晩酌愛好者がお気に入りのおつまみを共有し、新しいアイデアを</br>
        得ることができます。晩酌の楽しみ方は人それぞれ。いつものおつまみに飽きた方も多いこと</br>
        でしょう。そこで、このサイトではメンバー同士がおつまみのアイデアやレシピを交換し、</br>
        よりクリエイティブで楽しい晩酌を提案しています。
      </h4>
      <h2 class="my-3 text-center" style="color: #00CC00;">
        一緒に晩酌の時間を豊かにし、新たなおつまみの発見を共有しましょう。
      </h2>
      <div class="text-center my-5">
        <%= image_tag 'about.png', class: "w-50" %>
      </div>
    </div>
  </div>
</div>
