<div class="container">
  <div class="row">
    <div class="col-10 mt-5 mx-auto">
      <%= render 'slide' %>
    </div>
  </div>
  <h3 class="mt-5">新着のおつまみ</h3>
  <div class="row mt-2">
    <%= render "public/recipes/recipe-index", recipes: @recipes %>
  </div>
</div>
