<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mt-5 mx-auto">
      <%= link_to "    ",admin_session_path, class:"btn" %>
      <%= render 'slide' %>
    </div>
  </div>
  <div class="row mt-5">
    <h2 class="bg-brown text-left">新着</h2>
  </div>
  <div class="row">
    <%= render "public/recipes/recipe-index", recipes: @recipes %>
  </div>
</div>