@use '~bootstrap/scss/bootstrap';

// font-family: 'M PLUS Rounded 1c', sans-serif;



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ビューポートの高さに対して最低でも100%にする */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 100;
}

.main-bg {
  flex: 1; /* メインのコンテンツが残りのスペースを占めるようにします */
}

footer {
  /* ここに必要なスタイルを追加 */
}

.top-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: 50% 75%;
  font-size: 16px;
  line-height: 2; 
}

.jumbotron{
  background-color: #EDFFBE;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.home-index{
  font-weight: bold;
  font-size: 50px;
  color: purple;
  text-shadow:0 0 10px #FF0;
}

.index-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

// .index-btn{
  // margin-top: 20px;
// }

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.form-word {
  color: red;
}