<div class="container">
  <% unless @user.guest_user? %>
    <div class="row">
      <h2 class="bg-brown mt-4 mb-4">退会お手続き</h2>
    </div>
    <div class="row">
      <div class="col-md-7 mx-auto my-5">
        <p>
          退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
          再度ご利用をいただく場合には、新規登録のお手続きが必要になります。
        </p>
        <div class="mt-5 text-center">
          <p class="form-word">本当に退会してよろしいですか？</p>
          <%= link_to "退会する", user_withdraw_path, method: :patch, class: "btn btn-danger", "data-confirm" => "本当に退会しますか？" %>
          <%= link_to "退会しない", user_path(@user), class: "btn btn-secondary ml-2" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <h2 class="bg-brown mt-4 mb-4">ゲストユーザでログアウト</h2>
    </div>
    <div class="row">
      <div class="col-md-7 mx-auto my-5">
        <p>
          ゲストユーザーで一度、ログアウトされますと今までの<br>
          投稿データなどは残りません。
        </p>
        <div class="mt-5 text-center">
          <p class="form-word">それでもログアウトしますか？</p>
          <%= link_to "ログアウトする", users_guest_sign_out_path, method: :delete, class: "btn btn-danger", "data-confirm" => "本当にログアウトにしますか？" %>
          <%= link_to "ログアウトしない", user_path(@user), class: "btn btn-secondary ml-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
