<div class="container">
  <div class="texts-wrapper">
    <div class="contents-title">
      <h1><%= @user.name %>さんのお気に入りのおつまみたち</h1>
      <%= render "public/recipes/recipe", recipes: @favorite_recipes %>
    </div>
  </div>
</div>